<header>
  <nav class="wrapper">
    <div class="navbar-header">
      <a routerLink="home" class="navbar-brand">Home</a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="animal" class="nav-link">Animal facts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="history" class="nav-link">History facts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="food" class="nav-link">Food facts</a>
      </li>
    </ul>
  </nav>
</header>
