$font-color: #444;
$border-color: #fc0;
$background-color: #f7f7f7;


.food {
  h2 {
    color: $font-color;
    font-size: 2em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    span {
      border-bottom: 4px solid $border-color;
    }
  }
  .container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
    grid-template-rows: max-content;
    margin-bottom: rem;

  }

  .card {
    width: 75%;
    color:#000;
    background-color: #fff;
    border: 1px solid #e6e6e6;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 1rem auto;
    border-radius: 3px;


    &.odd {
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    .info {
      padding: 1rem;
      font-size: 1em;
      p {
        margin: 0  0 0.5rem 0;
      }
    }
    .category-link {
      display: none;
    }
    .img-holder {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 100px;
      min-height: 100px;
      height: 100%;
    }
  }
  .loadingio-spinner-pulse-rvsxbaddnxr .ldio-lpebeydfbs {
    div:nth-child(1) {
      background: #444 !important;
    }

    div:nth-child(2) {
      background: #fff !important;
    }

    div:nth-child(3) {
      background: $border-color !important;
    }
  }
}
