

@import '~normalize.css';
@import './variables.scss';

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 6rem;
	width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f1f1f1;
  text-rendering: optimizeLegibility;
}
h1, h2 {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.error-message-box {
  margin: rem auto;

  .error-message-text {
    color: $red-color;
    text-align: center;
  }

  &.error-not-found {
    margin-top: 100px;
  }

  img {
    display: block;
    width: 100%;
    margin: 4rem auto;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: $header-color;
	overflow: hidden;

	.copyright {
		clear: both;
    text-align: center;
    font-size: 1rem;
		margin-top: 1rem;
		color: $background-color;
	}
}