<div class="wrapper">
  <h2><span>Latest jokes</span></h2>
  <app-error-message [errorMessage]="error"></app-error-message>

  <app-loading-spinner *ngIf="jokesAreLoading"></app-loading-spinner>

  <div *ngIf="!jokesAreLoading" class="container">
    <div *ngFor=" let joke of jokes; let i = index">
      <app-joke-card [joke]="joke" [cardIndex]="i"></app-joke-card>
    </div>
  </div>

  <div *ngIf="oldJokes.length > 0">
    <hr />
    <h2><span>Old jokes</span></h2>
    <app-loading-spinner *ngIf="oldJokesAreLoading"></app-loading-spinner>
    <div *ngIf="!oldJokesAreLoading" class="container">
      <div *ngFor="let joke of oldJokes let i = index">
        <app-joke-card [joke]="joke" [cardIndex]="i + 5"></app-joke-card>
      </div>
    </div>
  </div>

</div>
