<h2>Latest jokes</h2>
<app-error-message [errorMessage]="error"></app-error-message>
<app-loading-spinner *ngIf="jokesAreLoading"></app-loading-spinner>
<div *ngIf="!jokesAreLoading">
  <ul *ngFor="let joke of jokes">
    <app-joke-card [joke]="joke"></app-joke-card>
  </ul>
</div>

<hr />
<h2>Old jokes</h2>


<app-loading-spinner *ngIf="oldJokesAreLoading"></app-loading-spinner>
<div *ngIf="!oldJokesAreLoading">
  <ul *ngFor="let joke of oldJokes">
    <app-joke-card [joke]="joke"></app-joke-card>
  </ul>
</div>
