<div class="wrapper">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/animal" class="home-link">
        <div class="home-link-image animal-link"></div>
        <h3 class="title">Animal facts</h3>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/history" class="home-link">
        <div class="home-link-image history-link"></div>
        <h3 class="title">History facts</h3>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/food" class="home-link">
        <div class="home-link-image food-link"></div>
        <h3 class="title">Food facts</h3>
      </a>
    </li>
  </ul>

  <h1>Facts vs Chuck Norris</h1>

  <div class="chuck-info">
    <img *ngFor="let a of [].constructor(20); let i = index" src="{{ '/assets/images/gifs/' + i +'.gif'}}"
      alt="Chuck Norris Gif" />
    <img *ngFor="let a of [].constructor(20); let i = index" src="{{ '/assets/images/gifs/' + i +'.gif'}}"
      alt="Chuck Norris Gif" />

  </div>
</div>
