@import '../../assets/styles/variables.scss';

h1 {
 text-align: center;
  color: $background-color;
  font-size: 3em;
  /* text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc; */
  background:$red-color;
  padding: 1rem;
  width: 50%;
  margin: 3rem auto 5rem;
  display: block;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3rem 1rem;
  padding: 0;
  justify-content: space-around;
  li {
     margin-bottom: 1rem;
     list-style-type: none;
  }
}
@media only screen and (max-width: 900px) {
  ul {
      flex-direction: column;
  }
}


.home-link {
  display: block;
  flex: auto;
  align-items: stretch;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  text-decoration: none;
  h3 {
    padding: 1em;
    text-decoration: none;
    text-align: center;
    color: $font-color;

    &:hover {
       color: $red-color;
       text-decoration: underline;
    }

  }
}

.home-link-image {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  min-height: 200px;
  height: 100%;

  &.animal-link {
    background-image:url('/assets/images/animal.jpg');
  }
  &.food-link {
   background-image:url('/assets/images/food.jpeg');
   background-position: top center;
  }

  &.history-link {
    background-image:url('/assets/images/history.jpeg');
  }
}

.chuck-info {
  margin: 3em;
  columns: auto 5;
  overflow: hidden;
  img {
    max-width: 220px;
  }
}
 @media only screen and (max-width: 1200px) {
    .chuck-info {
       columns: auto 4;
    }
  }

  @media only screen and (max-width: 900px) {
    .chuck-info {
       display: none;
    }
  }